{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="alunos/cadastro">Cadastro</a>
        <a href="alunos/lista">Lista</a>
        <a href="alunos/login">Login</a>
    </nav>
    <img class="imagem" src="{% static 'img/duvida.jpeg' %}" alt="">

    <div id=caixa>
        <div class='texto'>  
                Aqui é Body Builder Ipsum PORRA! Vai subir árvore é o caralho porra! É nóis caraio é trapezera buscando caraio! Aqui é bodybuilder porra! Negativa Bambam negativa. Ajuda o maluco que tá doente. Ele tá olhando pra gente. Vem porra!

                Aqui é bodybuilder porra! Vai subir árvore é o caralho porra!
               
                Birl! Ajuda o maluco que tá doente. Bora caralho, você quer ver essa porra velho. Vai subir árvore é o caralho porra! Bora caralho, você quer ver essa porra velho.
               
               
        </div>

        
        <div class='texto'>
                Aqui é Body Builder Ipsum PORRA! Vai subir árvore é o caralho porra! É nóis caraio é trapezera buscando caraio! Aqui é bodybuilder porra! Negativa Bambam negativa. Ajuda o maluco que tá doente. Ele tá olhando pra gente. Vem porra!

                Aqui é bodybuilder porra! Vai subir árvore é o caralho porra!
               
                Birl! Ajuda o maluco que tá doente. Bora caralho, você quer ver essa porra velho. Vai subir árvore é o caralho porra! Bora caralho, você quer ver essa porra velho.
               
               

        </div>

    </div>

</body>
</html>